#home {
    background-repeat: no-repeat;
    background-image: url('../imgs/matt-geale-cape-york-2016.jpg');
    background-size: cover;
    height: 90vh;
    width: 80vw;
    background-position: center;
    opacity: 0.85;
    margin: auto;
}

.projects .container {
  margin-top: 45px;
}

.sidenav {
    background-color: crimson;
}

.intro-text {
  opacity: 1 !important;
  font-size: x-large;
}

.materialboxed {
  margin: 5px;
  width: 500px;
}

.photo-text {
  text-align: center;
}

@media (min-width: 600px) {
    .card {
        display: flex;
        justify-content: space-between;
    }
    .card-action {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
