.backg-image {
    background-repeat: no-repeat;
    background-image: url('../imgs/matt-geale-cape-york-2016.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

.hero-img {
    width: 100%;
}

.weave {
    background: linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}

.about-li {
    padding: 5px;
}

@media (min-width: 600px) {
    .card {
        display: flex;
        justify-content: space-between;
    }
    .card-action {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
