.home {
    background-repeat: no-repeat;
    background-image: url('../imgs/matt-geale-cape-york-2016.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

.projects .container {
  margin-top: 45px;
}

header {
  height: 41px;
  width: 100vw;
  background-color: grey;
}

.sidenav {
    background-color: #840b2a;
}

@media (min-width: 600px) {
    .card {
        display: flex;
        justify-content: space-between;
    }
    .card-action {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}
